

/* -------------- header -------------------- */

header{
    /* border:0.5px solid #e6e6e8; */
    /* background:rgba(0.0.) */
}

a{
    text-decoration: none;
    cursor: pointer;
}

section{
    border:0.5px solid #e6e6e6;
}
.container{
    height:850px;
    width: 100%;
    /* background:green; */
    /* border:1px solid #e6e6e6; */
}

.wrapper{
    position: relative;
}
.wrapper #header{
    position: relative;
}

.wrapper #header:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../imgs/background4.jpg');  
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}

.wrapper .content-title > h2 {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Raleway', 'sans-serif';
}

#header .header-menu-btn{
    display:none;
}

#header .floating_menu{
    /* border:1px solid #e6e6e6; */
    /* background:#fff; */
    position:fixed;
    top:90%;
    left:93%;
    z-index:100;
}

#header .floating_menu {
    display:flex;
    justify-content: center;
    /* align-items: center; */
    width:7%;
    height:11%;
}

#header .floating_menu a{
    color:#000;
    font-size: 50px;
}


#header .container{
    height:790px;
}

#header .container .header-top{
    display:flex;
    height:30%;
    font-weight: 500;
}

#header .container .logo{
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    /* border:1px solid #e6e6e6; */
    padding-bottom: 25px;
    padding-right: 25px;
    margin-right: 80px;
}

#header .container nav{
    display:flex;
    /* border:1px solid #e6e6e6; */
    flex-direction: column;
    justify-content: center;
    width:100%;
}
.header-top nav ul{
    display:flex;
    justify-content: space-around;
}

.header-top nav a{
    font-size: 18px;
    color:#fff;
}

#header .container .header-bottom{
    /* border: 1px solid #e6e6e6; */
    height:70%;
}

#header .container .header-bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:auto;
}
#header .container .header-bottom h1{
    margin-bottom:150px;
    color:#fff;
}

.typer{
    font-size: 55px;
}
.typer-text{
    font-family: 'Noto Sans KR', sans-serif;
    border-right: 0.1em solid white;
    font-size: 4vw;
    white-space: pre;
    line-height: 1;
    letter-spacing: 0.1rem;
    padding-top: 0.2em;
    -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;
}

/* ----------------------------------------------------------- */
.content-box .content-title .section-icon:before{
    background-color: #91328f;
    content:"";
    position: absolute;
    height:1px;
    width:120px;
    top:6px;
    z-index:-1;
}

.content-box .content-title .section-icon{
    position: relative;
    display:flex;
    justify-content: center;
    width:100%;
    z-index:100;
}

section .content-box{
    display:flex;
    flex-direction: column;
    height: 100%;
}

section .content-box .content-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:30%;
    /* padding-bottom: 60px; */
    margin-bottom: 20px;
}

section .content-box .content{
    height:70%;
}

/* ----------------------- Content Section ------------------------- */
section#about{
    background: #f7f7f7;
}
section#about .name{
    display: flex;
    font-weight: 600;
    margin-bottom: 20px;
}

section#about .name p{
    margin-left: 10px;
    padding-top: 15px;
}

section#about .info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:400px;
}

section#about .info a{
    color: black;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

section#about .content-box .content{
    display:flex;
    justify-content: center;
    font-size: 14px;
    height:70%;
}

section#about .content-box .content .about-img img{
    width:90%;
    height:70%;
    border-radius: 50px;
}

section#about .content-box .content .about-text{
    display:flex;
    /* margin-right: 2px; */
    height:70%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-top: 10px;
}

section#about .content-box .content .about-text p{
    margin-top: 15px;
    color:#b0aeae;
}

section#about .content-box .content button{
    width:30%;
    background:#fff;
    border:1px solid #853bfe;
    font-size: 15px;
    padding:10px 10px;
    margin-top: 40px;
}

#header .header-bottom .imageslide{
    width:100%;
    height:100%;
}

.imageslide{
    /* display: none; */
    text-align: center;
    margin-top: 10%;
}

.imageslide img{
    border-radius: 5px;
    width:80%;
    height:80%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
    
@keyframes fade{
    from{opacity: .2}
    to{opacity: 1} 
}
@-webkit-keyframes fade{
    from{opacity: .2}
    to{opacity: 1}
}

/* ---------------------projects---------------------- */
section#projects{
    background:#f7f7f7;
    height: 1170px;
}

section#projects .container{
    height:100%;
}
section#projects .content-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
section#projects .content-box .content-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

section#projects .container .content-box .content{
    /* width:935px; */
    height:100%;
    position:relative;
    overflow:hidden;
}

section#projects ul{
    position: absolute;
    top:0;
    left:0;
    display: flex;
}
section#projects ul li{
    width:935px;
    height:800px;
    /* float:left; */
    position: relative;
}

section#projects ul li img{
    width:100%;
    height:400px;
}

.project-info{
    margin-top: 30px; 
    text-align: center;
}

#projects ul{
    -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}
    

/* section#projects .projectbox{
    display:block;
    max-width:1000px;
    height:100%;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

.projectbox .project {
    display:flex;
    flex-direction: column;
    height:50%;
    width:100%;
} */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  color: black;
  font-size: 50px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
}

.prev{
    /* left:-50px; */
    left:20px;
}
.next{
    right:20px;
}

/* --------------------------skills section----------------------------- */

section#skills{
    background:#fff;
}
section#skills .container{
    height:1000px;
}

section#skills .content-title{
    height:200px;
}

section#skills .content{
    height:800px;
}

section#skills .button-group{
    text-align: center;
    height:5%;
    margin-bottom: 50px;
}
section#skills .button-group button.button {
    border: medium none;
    color: #3f3f3f;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-right: 8px;
    padding: 13px 20px;
    background: #fff;
}

section#skills .button-group button.button.is-checked{
    position:relative;
    color: #7c2dfe;
}

section#skills .button.is-checked::before {
    background: #7c2dfe none repeat scroll 0 0;
    bottom: 3px;
    content: "";
    height: 3px;
    left: 25%;
    position: absolute;
    width: 50%;
}

section#skills .grid{
    position: relative;
    height:990px;
    margin-top: 100px;
}

.skills-item{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.skills-item img{
    width:180px;
    height:170px;
}


/* ---------------------contact section-------------------- */

section#contact{
    background: #fff;
}
section#contact .content-title{
    margin-bottom: 30px;
}

section#contact .content{
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width:1100px){
    .prev{
        left:0;
    }
    .next{
        right:0;
    }
}
@media screen and (max-width:991px){
    section#skills{
        height: 1200px;
    }
    /* section#projects ul li{
        width:760px;
        height:800px;
        /* float:left; */
        position: relative;
    } 
     */
}
@media screen and (max-width:800px){
    #header .floating_menu {
        left:91%;
    }

    #header .header-menu-btn{
        display: block;
        color:#fff;
        margin-bottom: 10px;
        font-size: 35px;
        cursor: pointer;
    }

    #header .container .header-top{
        display:flex;
        align-items: center;
    }
    
    #header .container .logo{
        position: absolute;
        left:40%;
        /* transform: translate(-50%, -50%); */
    }
    #header .container nav{
        display:none;
    }
    body.menu-on {
        overflow: hidden;
        height: 100%;
    }
    body.menu-on #header .container nav{
        display:block;
    }
    body.menu-on #header .container ul{
        display:flex;
        flex-direction: column;
        position: absolute;
        top:140px;
        left: 40px;
    }
}

/* @media screen and (max-width:760px){
    section#projects ul li{
        width:718px;
        height:800px;
        /* float:left; */
        position: relative;
    } 
    
} */

@media screen and (max-width:600px){
    section .content-title{
        margin-left: 15px;
    }
    #header .floating_menu {
        left:90%;
    }
    section#about{
        height:1000px;
    }

    section#about .content-box{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    section#about .content-box .content{
        display:flex;
        flex-direction: column;
        justify-content: center;
        font-size: 13px;
        height:70%;
    } 

    section#about .content-box .content img{
        text-align: center;
        margin-left: 30px;
    }
    section#about .content-box .content button{
        display:none;
    }
    section#projects{
        height:1200px;
    }

    section#projects .content{
        position:relative;
        justify-content: space-around;
        align-items: inherit;
    }
    /* section#projects .projectbox{
        height: 1000px;
        display:flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    } */
    /* .projectbox .project{
        display:flex;
        justify-content: space-between;
        width: inherit;
        margin-bottom: 20px;
    } */
    
    section#skills {
        height:1400px;
    }

    section#skills .grid{
        margin-left: 95px;
    }
}
  
@media screen and (max-width:490px){
    section#skills {
        height:2500px;
    }
    section#skills .grid{
        margin-left: 95px;
    }
}

@media screen and (max-width:389px){
    section#skills .button-group{
        margin-left: 20px;
        margin-bottom: 143px;
    } 
    section#skills .grid{
        margin-left: 72px;
    }
}

@media screen and (max-width:365px){

    #header .container .logo{
        display: none;
    }
   
    section#skills .content-title{
        margin-left: 20px;
    }

    section#skills .button-group{
        margin-left: 20px;
        margin-bottom: 123px;
    }
    section#skills .grid{
        margin-top: 15px;
        margin-left: 74px;
    }
}

@media screen and (max-width:275px){
    section#about .content-box .content img{
        text-align: center;
        margin-left: 10px;
    }
    section#about .content-box .about-text{
        margin-top: 50px;
    } 

    section#projects .projectbox{
        margin-left: 0px;
        margin-right: 3px;
    }

    section#projects .projectbox .project a{
        margin-left:12px; 
    }

    section#skills {
        height:2660px;
    }

    section#skills .grid{
        margin-top: 15px;
        margin-left: 18px;
    }

    section#skills .button-group{
        margin-left: 20px;
        margin-bottom: 230px;
    }

}